@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
.ui.vertical.menu {
    width: 20rem;
    height: 62rem;
}

#welcome{
    height: 60%;
    display: flex;
    /* justify-content: center; */
    align-items: flex-end;
    background: url('librarybg.jpg') no-repeat center center/cover;
    height: 400px;
    width: 100%; 
    
}
.para{
    font-size: 35px;
    font-weight: bold;
    color: cornsilk;
    margin-left: 55px;
}
p:last-child {
    margin-bottom: 20px;
}
.image1{
    height: 500px;
    background: url('magic1.png') no-repeat center center/cover;
    width: 100%;
}
.image2{
    height: 500px;
    background: url('magic2.jpg') no-repeat center center/cover;
    width: 100%;
}
.image3{
    height: 500px;
    background: url('magic3.jpeg') no-repeat center center/cover;
    width: 100%;
}
.image4{
    height: 500px;
    background: url('magic4.jpg') no-repeat center center/cover;
    width: 100%;
}
.image5{
    height: 500px;
    background: url('circus.jpg') no-repeat center center/cover;
    width: 100%;
}
.image6{
    height: 500px;
    background: url('lotr.jpg') no-repeat center center/cover;
    width: 100%;
}


